<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gemini.portal.module..mapper.RoleMapper">

    <resultMap id="resultMap" type="com.gemini.business.platform.po.RolePo">
        <id column="id" property="id" javaType="Long"/>
        <result column="code" property="code" javaType="String"/>
        <result column="name" property="name" javaType="String"/>
        <result column="sort" property="sort" javaType="String"/>
        <result column="state_id" property="stateId" javaType="Long"/>
        <result column="state_code" property="stateCode" javaType="String"/>
        <result column="state_name" property="stateName" javaType="String"/>
        <result column="modify_user_id" property="modifyUserId" javaType="Long"/>
        <result column="modify_user_name" property="modifyUserName" javaType="String"/>
        <result column="modify_time" property="modifyTime" javaType="String"/>
    </resultMap>

    <resultMap id="AutMap" type="hashmap">
        <id column="menu_id" jdbcType="TINYINT" property="menuId"/>
        <result column="permissions_id" jdbcType="TINYINT" property="permissionsId"/>
        <result column="permissions_type" jdbcType="VARCHAR" property="permissionsType"/>
    </resultMap>

    <select id="getAut" parameterType="java.lang.Integer" resultMap="AutMap">
        select
        menu_id, permissions_id,permissions_type
        from t__permissions
        where permissions_id = #{id}
    </select>

    <insert id="addAut" parameterType="java.util.Map">
        insert into t__permissions(menu_id, permissions_id,permissions_type) values
        <foreach collection="ids" item="menuId" index="index" separator=",">
            ( #{menuId}, #{id},'R' )
        </foreach>
    </insert>

    <delete id="deleteAut" parameterType="java.lang.Integer">
        delete from t__permissions
        where permissions_id=#{id}
    </delete>

</mapper>