<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gemini.business.order.mapper.OrderHistoryMapper">

    <resultMap id="resultMap" type="com.gemini.business.order.po.OrderHistoryPo">
                <id column="id" property="id" javaType="Long"/>
                <result column="oder_id" property="oderId" javaType="Long"/>
    </resultMap>

    <sql id="fields">
                            h.oder_id
    </sql>

    <sql id="table">
        d_l_risk_dict h
    </sql>

    <sql id="where">
        <where>
                    <if test="oderId != null and oderId != ''">
                        and h.oder_id = #{oderId}
                    </if>
        </where>
    </sql>

    <sql id="order">
        <if test="(ascs != null ascs != '') or (descs != null descs != '')">
            order by
            <if test="ascs != null and ascs != ''">
                ${ascs} asc
            </if>
            <if test="descs != null and descs != ''">
                ${descs} desc
            </if>
        </if>
    </sql>

    <select id="get" parameterType="java.lang.Long" resultType="java.util.HashMap">
        select
        <include refid="fields"/>
        from
        <include refid="table"/>
        where rd.id = #{id}
    </select>

    <select id="list" resultType="java.util.HashMap">
        select
        <include refid="fields"/>
        from
        <include refid="table"/>
        <include refid="where"/>
        <include refid="order"/>
    </select>

    <insert id="insert">
        insert into t_order_history (
                            oder_id
        ) values (
                            #{oderId}
        )
    </insert>

    <update id="update" parameterType="java.lang.Long">
        update t_order_history
        <set>
                                    oder_id = #{oderId}
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Long">
        delete from
        <include refid="table"/>
        where h.id = #{id}
    </delete>

</mapper>