<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gemini.business.member.mapper.MemberMapper">

    <resultMap id="resultMap" type="com.gemini.business.member.po.MemberPo">
        <id column="id" property="id" javaType="Long"/>
        <result column="nickname" property="nickname" javaType="String"/>
        <result column="phone" property="phone" javaType="Integer"/>
        <result column="password" property="password" javaType="String"/>
        <result column="real_name" property="realName" javaType="String"/>
        <result column="id_card_no" property="idCardNo" javaType="Integer"/>
        <result column="create_time" property="createTime" javaType="java.util.Date"/>
        <result column="state_id" property="stateId" javaType="Long"/>
        <result column="state_code" property="stateCode" javaType="String"/>
        <result column="state_name" property="stateName" javaType="String"/>
        <result column="modify_user_id" property="modifyUserId" javaType="Long"/>
        <result column="modify_user_name" property="modifyUserName" javaType="String"/>
        <result column="modify_time" property="modifyTime" javaType="java.util.Date"/>
    </resultMap>

    <sql id="fields">
                            m.nickname,
                    m.phone,
                    m.password,
                    m.real_name,
                    m.id_card_no,
                    m.create_time,
                    m.state_id,
                    m.state_code,
                    m.state_name,
                    m.modify_user_id,
                    m.modify_user_name,
                    m.modify_time
    </sql>

    <sql id="table">
        d_l_risk_dict m
    </sql>

    <sql id="where">
        <where>
            <if test="nickname != null and nickname != ''">
                and m.nickname = #{nickname}
            </if>
            <if test="phone != null and phone != ''">
                and m.phone = #{phone}
            </if>
            <if test="password != null and password != ''">
                and m.password = #{password}
            </if>
            <if test="realName != null and realName != ''">
                and m.real_name = #{realName}
            </if>
            <if test="idCardNo != null and idCardNo != ''">
                and m.id_card_no = #{idCardNo}
            </if>
            <if test="createTime != null and createTime != ''">
                and m.create_time = #{createTime}
            </if>
            <if test="stateId != null and stateId != ''">
                and m.state_id = #{stateId}
            </if>
            <if test="stateCode != null and stateCode != ''">
                and m.state_code = #{stateCode}
            </if>
            <if test="stateName != null and stateName != ''">
                and m.state_name = #{stateName}
            </if>
            <if test="modifyUserId != null and modifyUserId != ''">
                and m.modify_user_id = #{modifyUserId}
            </if>
            <if test="modifyUserName != null and modifyUserName != ''">
                and m.modify_user_name = #{modifyUserName}
            </if>
            <if test="modifyTime != null and modifyTime != ''">
                and m.modify_time = #{modifyTime}
            </if>
        </where>
    </sql>

    <sql id="order">
        <if test="(ascs != null ascs != '') or (descs != null descs != '')">
            order by
            <if test="ascs != null and ascs != ''">
                ${ascs} asc
            </if>
            <if test="descs != null and descs != ''">
                ${descs} desc
            </if>
        </if>
    </sql>


</mapper>