<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gemini.business.goods.mapper.GoodsCommentMapper">

    <resultMap id="resultMap" type="com.gemini.business.goods.po.GoodsCommentPo">
        <id column="id" property="id" javaType="Long"/>
        <result column="name" property="name" javaType="String"/>
        <result column="brand_id" property="brandId" javaType="Long"/>
        <result column="brand_name" property="brandName" javaType="String"/>
        <result column="classification_id" property="classificationId" javaType="Long"/>
        <result column="classification_name" property="classificationName" javaType="String"/>
        <result column="stock_id" property="stockId" javaType="Long"/>
        <result column="state_id" property="stateId" javaType="Long"/>
        <result column="state_code" property="stateCode" javaType="String"/>
        <result column="state_name" property="stateName" javaType="String"/>
        <result column="modify_user_id" property="modifyUserId" javaType="Long"/>
        <result column="modify_user_name" property="modifyUserName" javaType="String"/>
        <result column="modify_time" property="modifyTime" javaType="java.util.Date"/>
    </resultMap>

    <sql id="fields">
                            c.name,
                    c.brand_id,
                    c.brand_name,
                    c.classification_id,
                    c.classification_name,
                    c.stock_id,
                    c.state_id,
                    c.state_code,
                    c.state_name,
                    c.modify_user_id,
                    c.modify_user_name,
                    c.modify_time
    </sql>

    <sql id="table">
        d_l_risk_dict c
    </sql>

    <sql id="where">
        <where>
            <if test="name != null and name != ''">
                and c.name = #{name}
            </if>
            <if test="brandId != null and brandId != ''">
                and c.brand_id = #{brandId}
            </if>
            <if test="brandName != null and brandName != ''">
                and c.brand_name = #{brandName}
            </if>
            <if test="classificationId != null and classificationId != ''">
                and c.classification_id = #{classificationId}
            </if>
            <if test="classificationName != null and classificationName != ''">
                and c.classification_name = #{classificationName}
            </if>
            <if test="stockId != null and stockId != ''">
                and c.stock_id = #{stockId}
            </if>
            <if test="stateId != null and stateId != ''">
                and c.state_id = #{stateId}
            </if>
            <if test="stateCode != null and stateCode != ''">
                and c.state_code = #{stateCode}
            </if>
            <if test="stateName != null and stateName != ''">
                and c.state_name = #{stateName}
            </if>
            <if test="modifyUserId != null and modifyUserId != ''">
                and c.modify_user_id = #{modifyUserId}
            </if>
            <if test="modifyUserName != null and modifyUserName != ''">
                and c.modify_user_name = #{modifyUserName}
            </if>
            <if test="modifyTime != null and modifyTime != ''">
                and c.modify_time = #{modifyTime}
            </if>
        </where>
    </sql>

    <sql id="order">
        <if test="(ascs != null ascs != '') or (descs != null descs != '')">
            order by
            <if test="ascs != null and ascs != ''">
                ${ascs} asc
            </if>
            <if test="descs != null and descs != ''">
                ${descs} desc
            </if>
        </if>
    </sql>

    <select id="get" parameterType="java.lang.Long" resultType="java.util.HashMap">
        select
        <include refid="fields"/>
        from
        <include refid="table"/>
        where rd.id = #{id}
    </select>

    <select id="list" resultType="java.util.HashMap">
        select
        <include refid="fields"/>
        from
        <include refid="table"/>
        <include refid="where"/>
        <include refid="order"/>
    </select>

    <insert id="insert">
        insert into goods_comment (
                            name,
                    brand_id,
                    brand_name,
                    classification_id,
                    classification_name,
                    stock_id,
                    state_id,
                    state_code,
                    state_name,
                    modify_user_id,
                    modify_user_name,
                    modify_time
        ) values (
                            #{name},
                    #{brandId},
                    #{brandName},
                    #{classificationId},
                    #{classificationName},
                    #{stockId},
                    #{stateId},
                    #{stateCode},
                    #{stateName},
                    #{modifyUserId},
                    #{modifyUserName},
                    #{modifyTime}
        )
    </insert>

    <update id="update" parameterType="java.lang.Long">
        update goods_comment
        <set>
            name = #{name},
            brand_id = #{brandId},
            brand_name = #{brandName},
            classification_id = #{classificationId},
            classification_name = #{classificationName},
            stock_id = #{stockId},
            state_id = #{stateId},
            state_code = #{stateCode},
            state_name = #{stateName},
            modify_user_id = #{modifyUserId},
            modify_user_name = #{modifyUserName},
            modify_time = #{modifyTime}
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Long">
        delete from
        <include refid="table"/>
        where c.id = #{id}
    </delete>

</mapper>