<div id="addOrUpdate" style="display: none">
    <form class="layui-form layui-form-pane">
        <div class="layui-form-item" pane>
            <label class="layui-form-label"><span class="require">*</span>类型
            </label>
            <div id="statusRadio" class="layui-input-block">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="require">*</span>菜单名称
            </label>
            <div class="layui-input-block">
                <input type="hidden" name="id">
                <input type="text" id="name" name="name" required lay-verify="required" placeholder="名称"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label">上级菜单</label>
            <div class="layui-input-block">
                <div class="layui-unselect layui-form-select downpanel">
                    <div class="layui-select-title">
                        <span class="layui-input layui-unselect" id="treeName">请选择</span>
                        <input type="hidden" name="pid" value="">
                        <i class="layui-edge"></i>
                    </div>
                    <dl class="layui-anim layui-anim-upbit">
                        <dd>
                            <ul id="pid"></ul>
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
        <div id="urlDiv" class="layui-form-item">
            <label class="layui-form-label"><span class="require">*</span>菜单URL
            </label>
            <div class="layui-input-block">
                <input type="text" name="url" placeholder="菜单URL" autocomplete="off" class="layui-input">
            </div>
        </div>
        <div id="targetDiv" class="layui-form-item">
            <label class="layui-form-label"><span class="require">*</span>打开方式
            </label>
            <div class="layui-input-block">
                <select name="target">
                </select>
            </div>
        </div>
        <div id="iconDiv" class="layui-form-item">
            <label class="layui-form-label">菜单图标</label>
            <div class="layui-input-block">
                <input type="text" name="icon" placeholder="菜单图标" autocomplete="off" class="layui-input">
                <span class="require">获取图标：https://www.layui.com/doc/element/icon.html</span>
            </div>
        </div>
        <div id="permissionsCodeDiv" class="layui-form-item">
            <label class="layui-form-label"><span class="require">*</span>权限编码
            </label>
            <div class="layui-input-block">
                <input type="text" name="permissionsCode" placeholder="多个用逗号分隔，如：user:add,user:update"
                       autocomplete="off" class="layui-input">
            </div>
        </div>
        <div class="layui-form-item">
            <label class="layui-form-label"><span class="require">*</span>排序
            </label>
            <div class="layui-input-block">
                <input type="text" name="sort" required lay-verify="required" value="1" autocomplete="off"
                       class="layui-input">
            </div>
        </div>
        <div class="layui-form-item" pane>
            <label class="layui-form-label"><span class="require">*</span>状态
            </label>
            <div class="layui-input-block">
                <input type="radio" name="status" value="1" title="显示" checked>
                <input type="radio" name="status" value="0" title="隐藏">
            </div>
        </div>
        <div class="layui-form-item" align="right" style="float: right;margin-right: 35px">
            <span class="layui-btn layui-btn-sm add_detail" style="margin-right: 10px;">
                新增一行
            </span>
            <span class="layui-btn layui-btn-sm layui-btn-danger delete_detail" style="margin-right: 20px;">
                批量删除
            </span>
        </div>
        <div class="layui-form-item">
            <table id="detailTable" lay-filter="detailTable"></table>
        </div>
        <div class="layui-form-item">
            <div class="layui-input-block">
                <button class="layui-btn save" lay-submit lay-filter="saveButton">保存</button>
                <button type="reset" class="layui-btn layui-btn-primary reset">重置</button>
            </div>
        </div>
    </form>
</div>


