<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.gemini.business.business.mapper.BusinessStoreCouponMapper">

    <resultMap id="resultMap" type="com.gemini.business.business.po.BusinessStoreCouponPo">
                <id column="id" property="id" javaType="Long"/>
                <result column="name" property="name" javaType="String"/>
                <result column="business_id" property="businessId" javaType="Long"/>
                <result column="business_name" property="businessName" javaType="String"/>
                <result column="store_id" property="storeId" javaType="Long"/>
                <result column="store_name" property="storeName" javaType="String"/>
                <result column="start_date" property="startDate" javaType="java.util.Date"/>
                <result column="end_date" property="endDate" javaType="java.util.Date"/>
    </resultMap>

    <sql id="fields">
                            c.name,
                    c.business_id,
                    c.business_name,
                    c.store_id,
                    c.store_name,
                    c.start_date,
                    c.end_date
    </sql>

    <sql id="table">
        d_l_risk_dict c
    </sql>

    <sql id="where">
        <where>
                    <if test="name != null and name != ''">
                        and c.name = #{name}
                    </if>
                    <if test="businessId != null and businessId != ''">
                        and c.business_id = #{businessId}
                    </if>
                    <if test="businessName != null and businessName != ''">
                        and c.business_name = #{businessName}
                    </if>
                    <if test="storeId != null and storeId != ''">
                        and c.store_id = #{storeId}
                    </if>
                    <if test="storeName != null and storeName != ''">
                        and c.store_name = #{storeName}
                    </if>
                    <if test="startDate != null and startDate != ''">
                        and c.start_date = #{startDate}
                    </if>
                    <if test="endDate != null and endDate != ''">
                        and c.end_date = #{endDate}
                    </if>
        </where>
    </sql>

    <sql id="order">
        <if test="(ascs != null ascs != '') or (descs != null descs != '')">
            order by
            <if test="ascs != null and ascs != ''">
                ${ascs} asc
            </if>
            <if test="descs != null and descs != ''">
                ${descs} desc
            </if>
        </if>
    </sql>

    <select id="get" parameterType="java.lang.Long" resultType="java.util.HashMap">
        select
        <include refid="fields"/>
        from
        <include refid="table"/>
        where rd.id = #{id}
    </select>

    <select id="list" resultType="java.util.HashMap">
        select
        <include refid="fields"/>
        from
        <include refid="table"/>
        <include refid="where"/>
        <include refid="order"/>
    </select>

    <insert id="insert">
        insert into t_business_store_coupon (
                            name,
                    business_id,
                    business_name,
                    store_id,
                    store_name,
                    start_date,
                    end_date
        ) values (
                            #{name},
                    #{businessId},
                    #{businessName},
                    #{storeId},
                    #{storeName},
                    #{startDate},
                    #{endDate}
        )
    </insert>

    <update id="update" parameterType="java.lang.Long">
        update t_business_store_coupon
        <set>
                                    name = #{name},
                        business_id = #{businessId},
                        business_name = #{businessName},
                        store_id = #{storeId},
                        store_name = #{storeName},
                        start_date = #{startDate},
                        end_date = #{endDate}
        </set>
        where id = #{id}
    </update>

    <delete id="delete" parameterType="java.lang.Long">
        delete from
        <include refid="table"/>
        where c.id = #{id}
    </delete>

</mapper>